**/node_modules
**/.next
**/out
**/*.tsbuildinfo
**/next-env.d.ts
**/.env*
**/npm-debug.log*
**/.DS_Store
**/Dockerfile
.dockerignore

# Generated temporary credentials from google-github-actions/auth
gha-creds-*.json
